<div class="section login">
  <div class="login-card">
    <h2 class="login-title">🔐 SIGN IN</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        formControlName="username"
        placeholder="Benutzername"
        class="login-input"
      />
      <input
        type="password"
        formControlName="password"
        placeholder="Passwort"
        class="login-input"
      />

      <div class="login-links">
        <a href="#">Passwort vergessen?</a>
        <a (click)="signup()">Registrieren</a>
      </div>

      <button type="submit" class="login-button">Login</button>

      <button type="button" class="guest-button" (click)="continueAsGuest()">
        Als Gast fortfahren
      </button>
    </form>
    <div id="googleSignInDiv"></div>

    <div *ngIf="loginError" class="login-error">
      {{ loginError }}
    </div>
    <div *ngIf="serverDown" class="login-error">
      ️ Fehler: Backend-Server ist nicht erreichbar!
    </div>
  </div>
</div>
