<header class="main-header">
  <div class="header-content">
    <div (click)="home()" class="logo">
      👤 {{
        (user$ | async)?.username || 'Gast'
      }}
    </div>
<!--
    <nav class="menu">
      <a href="#">Dummy</a>
      <a href="#">Dummy</a>
      <a href="#">Dummy</a>
      <a href="#">Dummy</a>
    </nav>
-->
    <nav>
      <div *ngIf="this.userService.getServerStatus()" class="error-banner">
        ⚠️ Fehler: Backend-Server ist nicht erreichbar!
      </div>

    </nav>
    <div class="profile-area" tabindex="0" (blur)="closeDropdown()">
      <button
        class="profile-btn"
        (click)="toggleDropdown()"
        aria-haspopup="true"
        [attr.aria-expanded]="dropdownOpen"
      >
        <img
          [src]="(user$ | async)?.profileImageUrl || 'profile.jpg'"
          alt="Profilbild"
          class="profile-img"
        />
        <span class="username">
          {{ (user$ | async)?.email || 'guest@example.com' }}
        </span>
      </button>

      <ul class="dropdown-menu" *ngIf="dropdownOpen">
        <li><a href="#">Einstellungen</a></li>
        <li><a (click)="logout()">{{ (user$ | async) ? 'Logout' : 'Login' }}</a></li>
      </ul>
    </div>
  </div>
</header>
